.row
  .col.s12
    -if @discount.attributes != {}
      = form_tag post_update_discount_path(@discount.id), id: 'update_discount'
        .input-field
          = label_tag :rebate
          = text_field_tag :rebate, @discount.rebate
        .input-field
          = label_tag :product_amount
          = text_field_tag :product_amount, @discount.product_amount
        .input-field.s12
          = select_tag :product, options_for_select(Product.all.map{ |x| [x.name, x.id] }, @discount.product.id)
          = label_tag :product
        .actions
          = submit_tag nil, class: 'btn waves-effect waves-light'
            i.materialize-icon.white-text Submit
          = link_to :back, class: 'btn waves-effect waves-light'
            span.white-text Back
    - else
      = form_tag discounts_path, id: 'set_discount'
        .input-field
          = label_tag :rebate
          = text_field_tag :rebate, @discount.rebate
        .input-field
          = label_tag :product_amount
          = text_field_tag :product_amount, @discount.product_amount
        .input-field
          = select_tag :product, options_for_select(Product.all.to_a.map{ |x| [x.name, x.id] } )
          label Product
        .actions
          = submit_tag nil, class: 'btn waves-effect waves-light'
            i.materialize-icon.white-text Submit
          = link_to :back, class: 'btn waves-effect waves-light'
            span.white-text Back
