p#notice
  = notice
h1
  | Listing Discounts
table
  thead
    tr
      th
        | Rebate
      th
        | Amount
      th
        | Product
      th[colspan="3"]
  tbody
    - @discounts.each do |discount|
      tr
        td
          = discount.rebate
        td
          = discount.product_amount
        td
          = discount.product&.name
        td
          = link_to 'Show', discount_path(discount.id)
        td
          = link_to 'Edit', edit_discount_path(discount.id)
        td
          = link_to 'Destroy', discount_path(discount.id), method: :delete, data: { confirm: 'Are you sure?' }
br
= link_to 'New Discount', new_discount_path
