p#notice
  = notice
p
  strong
    | Rebate:
  = @discount.rebate
p
  strong
    | Amount:
  = @discount.product_amount
p
  strong
    | Product
  = @discount.product.name
= link_to 'Edit', edit_discount_path(@discount.id)
|  |
= link_to 'Back', discounts_path
