.row
  .col.s12
    -if @product.attributes != {}
      = form_tag post_update_product_path(@product.id), id: 'update_product'
        .input-field
          = label_tag :name
          = text_field_tag :name, @product.name
        .input-field
          = label_tag :price
            span Price, $
          = text_field_tag :price, @product.price
        .input-field
          = label_tag :description
          = text_area_tag :description, @product.description, class: 'materialize-textarea'
        .actions
          = submit_tag nil, class: 'btn waves-effect waves-light'
            i.materialize-icon.white-text Submit
          = link_to :back, class: 'btn waves-effect waves-light'
            span.white-text Back
    - else
      = form_tag products_path, id: 'create_product'
        .input-field
          = label_tag :name
          = text_field_tag :name, @product.name
        .input-field
          = label_tag :price
            span Price, $
          = text_field_tag :price, @product.price
        .input-field
          = label_tag :description
          = text_area_tag :description, @product.description, class: 'materialize-textarea'
        .actions
          = submit_tag nil, class: 'btn waves-effect waves-light'
            i.materialize-icon.white-text Submit
          = link_to :back, class: 'btn waves-effect waves-light'
            span.white-text Back
