- if notice
  .card-panel.red#notice
    h6.white-text.center-align
      = notice
.row
  .col.s12.l12.m12
    h1.center-align All products
    p
      = link_to new_product_path, class: 'btn-floating btn-large waves-effect waves-light red'
        i.material-icons add
  .col.s12.l9.m9
    - @products.each do |product|
      .col.s12.l5.m6
        .card
          .card-image.waves-effect.waves-block.waves-light
            .col.s6
              img.activator src="http://www.healthyfig.com/wp-content/uploads/2015/06/Yerba-Mate1.jpg"
          .card-content
            span.card-title.activator.grey-text.text-darken-4
              =product.name
              i.material-icons.right more_vert
            p
              h5
                '$'
                =product.price
            p
              = link_to 'Edit', edit_product_path(product.id)
            p
              = link_to 'Add to cart', add_to_cart_product_path(product.id), method: :put
          .card-reveal
            span.card-title.grey-text.text-darken-4
              =product.name
              i.material-icons.right close
            p
              h5
                '$
                =product.price
            p
              = link_to 'Add to cart', add_to_cart_product_path(product.id), method: :put
            p
              = product.description
  .col.s12.l3.m3#cart-items.fixed
    ul.collection-with-header
      li.collection-header
        h4 Cart
        p
          | Subtotal
          span.secondary-content
            '$
            = @subtotal
        p
          | Discount
          span.secondary-content
            '$ -
            = @discount

        hr
      - @selected_products.each do |selected|
        li.collection-item
          span.title= selected[:product].name
          a.secondary-content
            span
              'X
              =selected[:amount]
          p
            '$
            = selected[:price]
            = link_to remove_from_cart_product_path(selected[:product].id), class: 'secondary-content waves-effect waves-circle waves-light btn-floating', method: :put
              i.material-icons clear
          hr
