.card
  .card-image.waves-effect.waves-block.waves-light
    .col.s6
      img.activator src="http://www.healthyfig.com/wp-content/uploads/2015/06/Yerba-Mate1.jpg"
  .card-content
    span.card-title.activator.grey-text.text-darken-4
      =@product.name
      i.material-icons.right more_vert
    p
      h5
        '$'
        =@product.price
    p
      = link_to 'Edit', edit_product_path(@product.id)
      = link_to 'Back', products_path
  .card-reveal
    span.card-title.grey-text.text-darken-4
      =@product.name
      i.material-icons.right close
    p
      h5
        '$'
        =@product.price

    p
      = @product.description

